<!DOCTYPE html>
<html lang="en" class="scroll-smooth focus:scroll-auto" data-theme={theme(@conn)}>
  <.head conn={@conn} />

  <body class="antialiased bg-white min-h-screen">
    <!-- Header Section -->
    <header class="container mx-auto py-4 px-4 flex justify-between items-center">
      <div class="flex items-center">
        <div class="text-3xl font-bold text-blue-normal">
          <span class="text-orange-normal">P</span><span class="text-yellow-normal">i</span><span class="text-green-normal">k</span><span class="text-blue-normal">a</span><span class="text-brown-normal">b</span><span class="text-orange-normal">u</span>
        </div>
      </div>
      <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
        <%= if @current_user do %>
          <li class="text-[0.8125rem] leading-6 text-blue-dark">
            {@current_user.email}
          </li>
          <li>
            <.link
              href={~p"/users/settings"}
              class="nav-btn bg-blue-light border-blue-normal text-blue-normal"
            >
              Settings
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="nav-btn bg-blue-light border-blue-normal text-blue-normal"
            >
              Log out
            </.link>
          </li>
        <% else %>
          <li>
            <.link
              href={~p"/users/register"}
              class="nav-btn bg-blue-light border-blue-normal text-blue-normal"
            >
              Register
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_in"}
              class="nav-btn bg-blue-light border-blue-normal text-blue-normal"
            >
              Log in
            </.link>
          </li>
        <% end %>
      </ul>
    </header>

    {@inner_content}
    
<!-- Footer -->
    <footer class="bg-blue-dark py-8">
      <div class="container mx-auto px-4">
        <div class="text-center text-blue-light">
          <p>© 2025 Pikabu Video. All rights reserved.</p>
          <div class="mt-4 space-x-4">
            <a href="/privacy" class="text-blue-light hover:text-white">Privacy Policy</a>
            <a href="/terms" class="text-blue-light hover:text-white">Terms of Service</a>
            <a href="/contact" class="text-blue-light hover:text-white">Contact Us</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
