[Unit]
Description={{ app_name }} service
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory={{ app_path }}
Environment=HOME={{ app_path }} SHELL=/bin/bash TERM=xterm
EnvironmentFile={{ app_path }}/etc/env
ExecStart={{ app_path }}/bin/{{ app_name }} start
ExecStop={{ app_path }}/bin/{{ app_name }} stop
RemainAfterExit=yes
User={{ app_user }}
Group={{ app_user }}
LimitNOFILE=8196
Restart=on-failure

[Install]
WantedBy=multi-user.target
