@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "theme.css";

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(0%, 0%) scale(0.8);
  }
  15% {
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
  }
  85% {
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(0%, 0%) scale(0.8);
  }
}

.animate-fade-in-out {
  animation: fadeInOut 6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}