<!-- Header Section -->
<header class="container relative mx-auto py-4 px-4 flex justify-between items-center">
  This is header
</header>

<main id="main-content" class="text-dark px-4 py-20 sm:px-6 lg:px-8 min-h-screen">
  <.flash_group flash={@flash} />
  {@inner_content}
</main>

<!-- Footer -->
<footer>
  This is footer
</footer>
