<!DOCTYPE html>
<html lang="en" class="scroll-smooth focus:scroll-auto" data-theme={theme(@conn)}>
  <.head conn={@conn} />

  <body class="antialiased bg-base-100 text-gray-200">
    {@inner_content}
  </body>
</html>
